<% if !(@department.errors.empty?) %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
		<% @department.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
	</div>
<% end %>

<div class = "container-fluid">
	<%= render 'form' %>
</div>