<p id="notice"><%= notice %></p>

<table class="table table-striped">
	<th><h4><%= @department.name %></h4></th>
	<% @users.each do |user| %>
		<tr><td><%= link_to "#{user.last_name}, #{user.first_name}", user_path(user.id)%></td></tr>
	<% end %>
</table>