<%= form_for @post do |f| %>
  <div class="form-horizontal form-group-lg">
    <%= f.label "Post", :class => 'sr-only' %><br>
    <%= f.text_area :content, rows: 2, :class => 'form-control textarea-fixed', autofocus: true, :placeholder => "What's on your mind?", required: true%>

    <%= f.submit "Submit", :class => 'btn btn-primary btn-sm btn-block'%>
  </div>
<% end %>
