.vertical-center {
 min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
 min-height: 100vh; /* These two lines are counted as one :-)       */

 display: flex;
 align-items: center;
}

.textarea-fixed {
	resize: none;
}

.postform {
  display:inline-block;
  position:relative;
	width:100%;
}

.postbutton {
 position:absolute;
 bottom:10px;
 right:20px;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
p, div {
	font-family: 'Lato', sans-serif;
}